
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Parolamı Unuttum</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }

        hr {
            display: block;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            margin-left: auto;
            margin-right: auto;
            border-style: inset;
            border-width: 2px;
            background-color: rgba(66,139,202);
        }
    </style>
</head>
<body>
    <div>
        <div class="container mt-5">
        <div class="bg-light card card-login col-md-4 col-xs-12 offset-md-4 mt-xl-2 text-center">

            <div class="card-body">
                <div><h3 class="text-center text-primary">Parolamı Değiştir</h3></div><hr /><br />
                @using (Html.BeginForm("Index", "Home", FormMethod.Post,
                    new { enctype = "multipart/form-data" }))
                {
                    <div class="form-group">
                        <label for="exampleInputPassword1"><b>Parola</b></label>
                        @Html.TextBox("Password", "", new { @class = "form-control", placeholder = "Parola", type = "password", required = "required" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1"><b>Parola Tekrar</b></label>
                        @Html.TextBox("PasswordConfirm", "", new { @class = "form-control", placeholder = "Parola Tekrar", type = "password", required = "required" })

                    </div>

                    <button class="btn btn-primary btn-block" type="submit">Kaydet</button>

                    <div class="message"></div>
                }

            </div>
        </div>
            
        </div>
    </div>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.3.1.js" crossorigin="anonymous"></script>


<script>
    $('#Password, #PasswordConfirm').on('keyup', function () {
        if ($('#Password').val() == $('#PasswordConfirm').val()) {
            $('#message').html('Parolalar Uyuşuyor').css('color', 'green');
          $('[type="submit"]').attr("disabled",false);
        } else {
            $('#message').html('Parolalar Uyuşmuyor').css('color', 'red');
            $('[type="submit"]').attr("disabled",true);
        }
    });

</script>