
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/_layout.cshtml";
}

<div class="container">
    <div class="col-md-4 offset-md-4">
        @if (ViewBag.Success != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewBag.Success
            </div>
        }

        @if (ViewBag.Fail != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewBag.Fail
            </div>
        }


        @using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-group has-feedback">
                <label class="control-label text-center" for="inputSuccess4">Eski Parola</label>
                <input type="password" class="form-control" id="OldPass" Name="OldPassword" required="required">
            </div>
            <div class="form-group has-feedback">
                <label class="control-label text-center" for="inputSuccess4">Yeni Parola</label>
                <input type="password" class="form-control" id="Pass" name="Password" required="required">
            </div>
            <div class="form-group has-feedback">
                <label class="control-label text-center" for="inputSuccess4">Yeni Parola Tekrar</label>
                <input type="password" class="form-control" id="Passcon" required="required">
            </div>

            <button style="float:right;" type="submit" class="btn btn-primary">Kaydet</button>


            <div id="message"></div>
        }
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.js" crossorigin="anonymous"></script>


<script>
    $('#Pass, #Passcon').on('keyup', function () {
        if ($('#Pass').val() == $('#Passcon').val()) {
            $('#message').html('Parolalar Uyuşuyor').css('color', 'green');
          $('[type="submit"]').attr("disabled",false);
        } else {
            $('#message').html('Parolalar Uyuşmuyor').css('color', 'red');
            $('[type="submit"]').attr("disabled",true);
        }
    });

</script>