
@{
    ViewBag.Title = "Statistics";
    Layout = "~/Views/_layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-6">


        </div>
        <div class="col-md-6">


        </div>
    </div>
    
</div>




<script src="~/Assest/js/canvasjs.min.js"></script>
